<h1>Posts</h1>

<a href="/posts/new" type="button" class="btn btn-outline-warning">Create Post</a>
<hr>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Post</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each posts}}
            <tr>
                <td>{{this.title}}</td>
                <td width="50%">{{this.body}}</td>
                <td>
                    <!--Mostrar-->
                    <a href="/posts/{{this.slug}}" class="btn btn-primary">Show</a>
                    <!--Editar-->
                    <a href="/posts/edit/{{this._id}}" class="btn btn-success">Edit</a>
                    <!--Borrar-->
                    <form action="/posts/{{this._id}}?_method=DELETE" method="post">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
